/* Smalest devices (576px and lower) */
@media (max-width: 576px) {
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 200%!important;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 200%!important;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    h1, h2, h3, h4, h5, h6 {
        font-size: 200%!important;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 300%!important;
    }


    #WebTemplate {
        background-image: url('../img/1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 180%;
    } 
    #Experience {
        background-image: url('../img/2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 180%;
    } 
    #Education {
        background-image: url('../img/3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 180%;
    } 
    #Skills {
        background-image: url('../img/4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 180%;
    } 

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    h1, h2, h3, h4, h5, h6 {
        font-size: 300%!important;
    }

}

/* All devices */
.navObjekt {
    color:white;
    font-weight: 700;
    text-transform: uppercase;
}
.navObjekt:hover {
    color: #e1f9bb;
    text-transform: uppercase;
}
